#x_content {

}

#x-slider-pannels {
    width: 890px;
    margin: 0 auto;
    height: 100%;
    height: 700px;
    position: relative;
    display: inline-block;
    /* white-space: nowrap; */
    left: 50%;
    transform: translateX(-50%);
}

#x-slider-pannel-left-carouse, #x-slider-pannel-right-carouse {
    width: 3200px;
    height: 600px;
    position: relative;
}

.x-slider-pannel {
    width: 200px;
    height: 600px;
    overflow: hidden;
    float: left;
    position: relative;
    transition: 2s;
    border-radius: 20px;
}

#x-slider-pannel-left {
    position: relative;
}

.x-slider-pannel-left-carouse1, .x-slider-pannel-right-carouse1 {
    float: left;
    width: 800px;
    position: relative;
}

#x-slider-pannel-center1-carouse, #x-slider-pannel-center2-carouse {
    height: 2400px;
    width: 800px;
    border-radius: 20px;
}

.x-slider-pannel-center1-carouse1, .x-slider-pannel-center2-carouse1 {
    float: left;
    height: 600px;

}

#x-slider-pannel-center2, #x-slider-pannel-center1, #x-slider-pannel-right {
    margin-left: 30px;
    border-radius: 20px;
}

#x-slider-pannel-center1-carouse {
    margin-left: -200px;
}

#x-slider-pannel-center2-carouse {
    margin-top: -1800px;
    margin-left: -400px;

}

#x-slider-pannel-right-carouse {
    margin-left: -3000px;
}

#x-slider-dots {
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 90%;
    left: 43%;
}

.x-slider-dot {
    width: 20px;
    height: 20px;
    border-radius: 12px;
    background-color: transparent;
    border: solid 0.1em;
    border-color: white;
    float: left;
    margin: 10px;
}

#x-slider-pannels-previous {
    left: 0;
    position: absolute;
    top: 30%;
    background-color: LightPink;
    height: 40px;
    width: 40px;
    font-size: 24px;
    line-height: 40px;
    padding: 8px;;
    transition: background 2s;
    text-align: center;
    display: none;
    z-index: 10;
    border-radius: 5px;
    position: absolute;
}

#x-slider-pannels-next {
    display: none;
    right: 0;
    position: absolute;
    top: 30%;
    background-color: LightPink;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    padding: 8px;;
    transition: background 2s;
    z-index: 10;
    border-radius: 5px;
    position: absolute;
}

#x-slider-pannels-previous, #x-slider-pannels-next:hover {
    background-color: aqua;
}

.x-iconb {
    font-family: icomoon;
    color: white;
    vertical-align: top;
    text-align: center;
}

.x-triangle1 {
    display: block;
    width: 0;
    height: 0;
    border-width: 0 200px 400px 0;
    border-style: solid;
    border-color: transparent transparent LightPink LightPink; /*透明 透明  黄*/
    float: left;
    position: absolute;
    top: 34%;
    left: 0px;
    z-index: 3;
    opacity: 0.6;
    display: none;
    transition: 2s;
}

.x-triangle2 {
    display: block;
    width: 0;
    height: 0;
    border-width: 400px 0 0 200px;
    border-style: solid;
    border-color: LightPink transparent transparent transparent; /*透明 透明  黄*/
    float: left;
    position: absolute;
    top: 0%;
    left: 0px;
    z-index: 3;
    opacity: 0.6;
    display: none;
    transition: 2s;
}

.x-triangle3 {
    display: block;
    width: 0;
    height: 0;
    border-width: 400px 200px 0 0;
    border-style: solid;
    border-color: transparent LightPink transparent transparent; /*透明 透明  黄*/
    float: left;
    position: absolute;
    top: 34%;
    left: 0px;
    z-index: 3;
    opacity: 0.6;
    display: none;
    transition: 2s;
}

.x-triangle4 {
    display: block;
    width: 0;
    height: 0;
    border-width: 0 0 400px 200px;
    border-style: solid;
    border-color: transparent transparent transparent LightPink; /*透明 透明  黄*/
    float: left;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 3;
    opacity: 0.6;
    display: none;
    transition: 2s;
}

.x-description1 {
    position: absolute;
    margin: 0 10px;
    opacity: 0.6;
    z-index: 5;
    display: none;
    width: 200px;
    top: 20%;
}

.x-description2 {
    position: absolute;
    margin: 0 10px;
    opacity: 0.6;
    top: 20%;
    z-index: 5;
    display: none;
}

.x-description3 {
    position: absolute;
    margin: 0 10px;
    opacity: 0.6;
    top: 20%;
    z-index: 5;
    display: none;
}

.x-description4 {
    position: absolute;
    margin: 0 10px;
    opacity: 0.6;
    top: 20%;
    z-index: 5;
    display: none;
}

.x-head, .x-head1 {
    margin: 0 auto;
    font-size: 40px;
    color: white;
    width: 300px;
    height: 200px;
    margin-top: -100px;
    transition: opacity 1s, margin-top 1s;
    opacity: 0;
}

.x-head1 {
    opacity: 1;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
}

.x-head_first, .x-head_first1 {
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
}

.x-head_second, .x-head_second1 {
    font-size: 15px;
    color: #98a1a1;
    text-align: center;

}

.x-left_hand, .right_hand {
    float: left;
    left: 50%;
}

.x-left_hand {

    width: 400px;
    float: left;
    display: inline-block;
}

.x-right_hand {

    float: left;
    display: inline-block;
    position: relative;
    border: 6px solid #fff;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin-left 1s, opacity 1s;
    opacity: 0;

}

.x-easy_talking {

}

.x-left_hand_article {
    word-wrap: break-word;
    font-size: 15px;
    line-height: 45px;
    text-indent: 2em;
}

.x-introduction_img {
    width: 400px;
    height: 300px;
}

.x-left_right_hand {
    margin: 0 auto;
    width: 900px;
    height: 500px;
}

.x-right_hand:before {
    content: "";
    height: 300px;
    width: 400px;
    background: #eff4de;
    border: 6px solid #fff;

    position: absolute;
    z-index: -1;
    top: 0px;
    left: -10px;

    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.x-right_hand:after {

    content: "";
    height: 300px;
    width: 400px;
    background: lightblue;
    border: 6px solid #fff;
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 0px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);

}

.x-footer_head {
    color: white;
    font-size: 2.5em;
}

.x-footer {
    background: transparent;
    width: 1000px;
    height: 600px;
    margin: 0 auto;

}

.x-left_part {
    padding: 60px 0;
    display: inline-block;
    width: 33%;
    margin-left: -300px;
    transition: margin-left 1s, opacity 1s;
    opacity: 0;
}

.x-left_part ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

.x-left_part ul li {
    line-height: 20px;
}

.x-left_part ul li p {
    display: inline-block;
}

.x-second_type {
    margin-left: 50px;
}

.x-footer_right_part {
    box-sizing: border-box;
}

.x-footer_center_part p {
    text-indent: 2em;
}

.x-center_part {
    display: inline-block;
    vertical-align: top;
    margin: 64px 0;
    width: 300px;
    opacity: 0;
    transition: opacity 1s;
}

.x-right_part {
    display: inline-block;
    vertical-align: top;
    margin: 64px 0;
    width: 300px;;
    opacity: 0;
    transition: 1s;
    transform: rotateY(540deg);
}

.x-footer_head > p {
    display: inline-block;
}

.x-right_part input {
    background-color: transparent;
    border: 0;
    height: 40px;
    width: 250px;
    padding: 6px;
    color: white;
    display: block;
    margin: 15px 0;
    /* border-radius: 5px; */
    border-bottom: 2px solid white;
    box-sizing: border-box;

}

.x-right_part textarea {
    box-sizing: border-box;
    width: 250px;
    padding: 15px;
    height: 220px;
    background-color: transparent;
    color: white;
    resize: none;
    border: 0;
    border-top-left-radius: 2rem;
    border-top: 2px solid white;
    border-bottom-right-radius: 2rem;
    border-bottom: 2px solid white;
    margin-top: 20px;
    outline: none
}

.x-description-two {
    font-size: 18px;
    color: white;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 5px transparent;

}

.x-description-one {
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 5px transparent;
}

.x-one_dot {
    background: black;
}