/* 信息栏 */
.b_personalInf{
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    margin-left: 60px;
    border-radius: 2px;
    height: 100%;
    width: 25%!important;
} 
#b_personal_InfName{
    margin: 45px 0 16px 0;
}
/* 关系栏 */
.b_relative{
    margin-bottom: 16px;
    background-color:white; 
    border-radius: 5px;
}
.tb_counter{
    width: 100%;
    padding: 10px 0;
    line-height: 14px;
    text-align: center;
    table-layout: fixed;
}
.S_line1{
    cursor: pointer;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #d9d9d9;
}
.S_txt1{
    color: #333;
    text-decoration: none;
}
.W_f12{
    font-size: 18px;
    display: block;
    margin: 2px 0 6px 0;
    font-weight: 400;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.S_txt2{
    color: #808080;
    text-decoration: none;
}
.b_si_counter{
    border-radius: 4px;
    width:100%;
    margin-bottom: 30px;
    background: white;
}
.b_simpleInfo{
    padding: 10px;
    text-align: left;
}
.b_infos{
    padding: 8px 8px 5px 8px;
    border-bottom: solid 1px #f2f2f5;
    margin-top: 1px;
    line-height: 26px;
    word-wrap: break-word;
    letter-spacing: 1px;
    color: #706f6f;

}
.b_infoEdit{
    text-align: center;
    color: #333;
    text-decoration: none;
}
.b_change_name{
    cursor: pointer;
}
.b_more_txt{
    font-size: 16px;
    padding: 10px 0 5px 0;
}
.b_more_txt:hover{
    cursor: pointer;
}

/* 编写文章 */
.b_new_edit{
    margin: 5px 5px 30px 5px;
}
.b_edit_sign{
    font-size: 18px;
    letter-spacing: 2px;
    color: rgb(68, 68, 68);
    padding: 10px 0 15px 0;
    font-family: 微软雅黑;
    line-height: 1.1;
    font-weight: bold;
    cursor: pointer;
}
.b_pic_edit,.b_article_edit{
    display: inline-block;
    padding-top: 20px;
}
.b_pic_edit{
    padding-right: 20px;
}
.b_pic_edit i:hover,.b_article_edit i:hover{
    color: #3479d8!important;
    cursor: pointer;
}


/* 最新文章 */
.b_article_recent{
    width: 60%!important;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    margin-left:60px;
    margin-top: 50px;
    border-radius: 2px;
    height: 100%;
    color: rgb(68, 68, 68);
}
.b_recent_sign{
    font-size: 16px;
    letter-spacing: 2px;
    color: rgb(68, 68, 68);
    padding: 8px 0 5px; 0;
    font-family: 微软雅黑;
    line-height: 1.1;
    font-weight: bold;
    cursor: pointer;
}
.b_new_article{
    margin-top: 90px;
    width: 100%;
    position: relative;
}
.b_new_article_sign{
    position: relative;
    height: 100px;
    width: 100%;
}
.b_new_article_pic{
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: -50px;
    border-radius: 50%;
    background: url(../pics/timg\ \(9\).jpg) 0% 0% / 100% 100%;
    border-image: initial;
}
.b_new_sign_wrap{
    padding: 10px 30px 10px 165px;
    height: 100%;
    font-size: 16px;
    letter-spacing: 2px;
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    background-color: rgba(65, 94, 224, 0.082);
    font-family: 微软雅黑;
    text-align: left;
    line-height: 1.1;
}
.b_new_sign_title{
    font-size: 18px;
    letter-spacing: 2px;
    color: #333;
    font-family: 微软雅黑;
    width: max-content;
}
.b_new_sign_bottom{
    width: max-content;
}
.b_new_starts{
    float: right;
}
.b_new_single-start{
    letter-spacing: 0em;
    font-size: 14px;
    color: #333;
}


.b_new_title_content {
    margin: 10px 20px 5px 10px;
    display: inline-block;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: rgb(139, 139, 139) solid thin;
}
.b_new_sign_date{
    color: rgb(105, 105, 105);
    font-size: 14px;
    letter-spacing:1px;
    display: inline-block;
    margin-top: 2px;
}
.b_new_tag{
    float: left;
}
.b_new_article_body{
    height: 130px;
    width: 100%;
    background-color: rgba(117, 132, 197, 0.082);
    overflow: hidden;
}
.b_new_body_wrap{
    padding: 20px 30px 10px 100px;
    overflow: hidden;
}
.b_new_article_content{
    position: relative;
    line-height: 1.5em;
    height: 6em;
    font-size: 14px; 
    width: 60%;
    color: #9396A4;
    box-sizing: border-box;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.b_new_article_content:after {
    content:"...";
    position:absolute;
    bottom:0;
    right:0;
    color: #9396A4;
}
.b_new_underline{
    border-top: #a5a5a5 thin;
    border-top-style: dotted;
    padding-bottom: 50px;
    padding-top: 5px;
    text-align: center;
    color: #a5a5a5;
}


/* 最新照片 */
.b_counter_recent{
    background: white;
    color: rgb(68, 68, 68);
}
.b_counter_article{
    margin-bottom: 60px;
}
.b_counter_recent:after{
        display: block;
        content: '.';
        clear:both;
        line-height: 0;
        visibility: hidden;
}
.b_recent_sign{
    font-size: 16px;
    letter-spacing: 2px;
    color: #333;
    padding: 5px 0 0 5px;
    font-family: 微软雅黑;
    text-align: left;
    line-height: 1.1;
    font-weight: bold;
    cursor: pointer;
}
.b_counter_picture{
    padding: 5px 5px;
    width: 100%;
    box-sizing: border-box;
}
.b_big_pic{
    float: left;
    height: 173px;
    width: 173px;
}
.b_bit_pic{
    float: left;
    height: 84px;
    width: 84px;
}
.b_new_picture{
    margin-top: 2%;
    width: 100%;
    border-top: thin #cecece solid;
    padding-top: 20px;
}
.b_new_picture:after{
    display: block;
    content: '.';
    clear:both;
    line-height: 0;
    visibility: hidden;
}
.b_new_picture li{
    margin: 0 6px 6px 0;
}
.b_new_picture img{
    width: 100%;
    height: 100%;
} 