body{
    min-width: 1100px;
}
.none {
    display: none!important;
}
.b_article_jump{
    cursor: pointer;
}
/* 信息栏 */
.b_personalInf{
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    margin-left: 60px;
    border-radius: 2px;
    height: 100%;
    width: 25%!important;
} 
#b_personal_InfName{
    margin: 45px 0 16px 0;
}
/* 关系栏 */
.b_relative{
    margin-bottom: 16px;
    background-color:white; 
    border-radius: 5px;
}
.tb_counter{
    width: 100%;
    padding: 10px 0;
    line-height: 14px;
    text-align: center;
    table-layout: fixed;
}
.S_line1{
    cursor: pointer;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #d9d9d9;
}
.S_txt1{
    color: #333;
    text-decoration: none;
    zoom: 1;
}
.S_txt1:after{
    display: block;
    content: '.';
    clear:both;
    line-height: 0;
    visibility: hidden;
}
.W_f12{
    font-size: 18px;
    display: block;
    margin: 2px 0 6px 0;
    font-weight: 400;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.S_txt2{
    color: #808080;
    text-decoration: none;
    zoom: 1;
}
.S_txt2:after{
    display: block;
    content: '.';
    clear:both;
    line-height: 0;
    visibility: hidden;
}
.S_txt3{
    zoom: 1;
}
.S_txt3:after{
    display: block;
    content: '.';
    clear:both;
    line-height: 0;
    visibility: hidden;
}
.b_si_counter{
    border-radius: 4px;
    width:100%;
    margin-bottom: 30px;
    background: white;
}
.b_simpleInfo{
    padding: 10px;
    text-align: left;
}
.b_infos{
    padding: 8px 8px 5px 8px;
    border-bottom: solid 1px #f2f2f5;
    margin-top: 1px;
    line-height: 26px;
    word-wrap: break-word;
    letter-spacing: 1px;
    color: #706f6f;

}
.b_infoEdit{
    text-align: center;
    color: #333;
    text-decoration: none;
}
.b_change_name{
    cursor: pointer;
}
.b_more_txt{
    font-size: 16px;
    padding: 10px 0 5px 0;
}
.b_more_txt:hover{
    cursor: pointer;
}

/* 编写文章 */
.b_new_edit{
    margin: 5px 5px 30px 5px;
}
.b_edit_sign{
    font-size: 18px;
    letter-spacing: 2px;
    color: rgb(68, 68, 68);
    padding: 10px 0 15px 0;
    font-family: 微软雅黑;
    line-height: 1.1;
    font-weight: bold;
    cursor: pointer;
}
.b_pic_edit,.b_article_edit{
    display: inline-block;
    padding-top: 20px;
}
.b_pic_edit{
    padding-right: 20px;
}
.b_pic_edit i:hover,.b_article_edit i:hover{
    color: #3479d8!important;
    cursor: pointer;
}


/* 最新文章 */
.b_article_recent{
    width: 60%!important;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    margin-left:60px;
    margin-top: 50px;
    border-radius: 2px;
    height: 100%;
    color: rgb(68, 68, 68);
}
.b_recent_sign{
    font-size: 16px;
    letter-spacing: 2px;
    color: rgb(68, 68, 68);
    padding: 8px 0 5px; 0;
    font-family:微软雅黑;
    line-height: 1.1;
    font-weight: bold;
    cursor: pointer;
}
.b_new_article{
    margin-top: 90px;
    width: 100%;
    position: relative;
}
.b_new_article_sign{
    position: relative;
    height: 100px;
    width: 100%;
}
.b_new_article_pic{
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: -50px;
    border-radius: 50%;
    background: url(../pics/timg\ \(9\).jpg) 0% 0% / 100% 100%;
    border-image: initial;
}
.b_new_sign_wrap{
    padding: 10px 30px 10px 165px;
    height: 100%;
    font-size: 16px;
    letter-spacing: 2px;
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    background-color: rgba(65, 94, 224, 0.082);
    font-family: 微软雅黑;
    text-align: left;
    line-height: 1.1;
}
.b_new_sign_title{
    font-size: 18px;
    letter-spacing: 2px;
    color: #333;
    font-family: 微软雅黑;
    width: max-content;
}
.b_new_sign_bottom{
    width: max-content;
    display: inline-block;
}
.b_new_starts{
    display: inline-block;
    float: right;
    margin-top: 17px;
}
.b_new_single-start{
    letter-spacing: 0em;
    font-size: 14px;
    color: #333;
}


.b_new_title_content {
    margin: 10px 20px 5px 10px;
    display: inline-block;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: rgb(139, 139, 139) solid thin;
    font-weight: bold;
}
.b_new_sign_date{
    color: rgb(105, 105, 105);
    font-size: 14px;
    letter-spacing:1px;
    margin-top: 5px;
}
.b_new_tag{
    padding-bottom: 2px;
    padding-left: 10px;
}
.b_new_article_body{
    height: 130px;
    width: 100%;
    background-color: rgba(117, 132, 197, 0.082);
    overflow: hidden;
}
.b_new_body_wrap{
    padding: 20px 30px 10px 100px;
    overflow: hidden;
}
.b_new_article_content{
    position: relative;
    display: inline-block;
    line-height: 1.5em;
    height: 6em;
    font-size: 14px; 
    width: 60%;
    color: #9396A4;
    box-sizing: border-box;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.b_new_article_content:after {
    content:"...";
    position:absolute;
    bottom:0;
    right:0;
    color: #9396A4;
}
.b_new_underline{
    border-top: #a5a5a5 thin;
    border-top-style: dotted;
    padding-bottom: 50px;
    padding-top: 5px;
    text-align: center;
    color: #a5a5a5;
}


/* 最新照片 */
.b_counter_recent{
    background: white;
    color: rgb(68, 68, 68);
}
.b_counter_article{
    margin-bottom: 60px;
}
.b_counter_recent:after{
        display: block;
        content: '.';
        clear:both;
        line-height: 0;
        visibility: hidden;
}
.b_recent_sign{
    font-size: 16px;
    letter-spacing: 2px;
    color: #333;
    padding: 5px 0 0 5px;
    font-family: 微软雅黑;
    text-align: left;
    line-height: 1.1;
    font-weight: bold;
    cursor: pointer;
}
.b_counter_picture{
    padding: 5px 5px;
    width: 100%;
    box-sizing: border-box;
}
.b_big_pic{
    float: left;
    height: 173px;
    width: 173px;
}
.b_bit_pic{
    float: left;
    height: 84px;
    width: 84px;
}
.b_new_picture{
    margin-top: 2%;
    width: 100%;
    border-top: thin #cecece solid;
    padding-top: 20px;
    background: white;
}
.b_new_picture:after{
    display: block;
    content: '.';
    clear:both;
    line-height: 0;
    visibility: hidden;
}
.b_new_picture li{
    margin: 0 6px 6px 0;
}
.b_new_picture img{
    width: 100%;
    height: 100%;
} 
/* 关注粉丝详情页 */
.relative_page_wide{
    max-width: 1200px;
    width: 65%;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    margin-left:20px;
    margin-top: 70px;
    display: inline-block;
    height: 100%;
    color: rgb(68, 68, 68);
}
.relative_title{
    font-size: 18px;
    text-align: left;
    padding:5px 0 15px 10px;
    box-sizing: border-box;
    color: #333;
    width: 100%;
}
@media (max-width: 930px){
    .relative_page_wide {
        width: 45%;
    }}
@media (max-width: 530px){
    .relative_page_wide {
        width: 20%;
    }}
.double_page_wide{
    width: 100%;
    padding-bottom: 80px;
    position: relative;
    display: flex!important;
    flex-wrap:wrap;
    margin: 0;
    padding: 0;
}
.b_doubles{
    width: 32%;
    overflow: hidden;
    margin: 0 0.5% 15px 0.5%;
    position: relative;
    background-color: white;
    text-align: left;
    vertical-align: top;
}
@media (max-width: 830px){
    .b_follows{
        width: 49%;
}}
@media (max-width: 550px){
    .b_follows{
        width: 100%;
        margin-right: 0 !important;
}}
.profileCard{
    background-color: #fff;
    border: 1px solid #e6ecf0;
    box-sizing: border-box;
    text-align: left;
}
.profileCard a.profileCard_waller{
    cursor: pointer;
    background-position: 0 50%;
    background-size: 100%;
    display: block;
    height: 120px;
}
.profileCard-content{
    margin: 13px 15px;
    position: relative;
}
.profileCard-content a.profileCard-header{
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: -45px 2px 0 -3px;
    padding: 3px;
    position: relative;
    vertical-align: bottom;
    z-index: 1;
    color: #1DA1F2;
}
.profileCard-avatar{
    border-radius: 50%;
    display: block;
    height: 70px;
    width: 70px;
    transition: box-shadow .15s ease-in-out;
    color: #1DA1F2;
}
.profileCard-action{
    display: inline-block;
    height: 35px;
    margin: 0 0 -4px 0;
    position: absolute;
    right: 0;
    vertical-align: bottom;
}
.relative_button{
    min-width: 89px;
    display: block;
    text-align: center;
    border-color: #1DA1F2;
    color: #1DA1F2;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 12px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-weight: bold;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    background: transparent;
    border-style:solid;
    outline: none;
}
.relative_button:hover{
    background-color:#E8F5FD;
}
.relative_button:active{
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #1DA1F2!important;
}
.relative_button:focus {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px rgba(29,161,242,0.4);
}
.profileCard-info{
    color: #14171a;
    margin-top: 8px;
    width: 100%;
}
.profileCard-name{
    cursor: pointer;
    height: 22px;
    line-height: 1.5;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    word-wrap: normal!important;
}
.profileCard-name a{
    font-size: 18px;
    font-weight: bold;
    padding-right: 2px;
    word-break: break-all;
    color: #14171a;
    font-size: 16px;
    font-weight: bold;
}
.profileCard-signature{
    color: #14171a;
    font-weight: normal;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.375em;
    height: 5.5em;
    margin-top: 8px;
}
