Html{
    height: 100%;
    width: 100%;
    background:#e6ecf0;
}
body{
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    font-family:Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
}
a{
    text-decoration: none;
}
body, dd, dl, fieldset, h1, h2, h3, h4, h5, h6,p, ol, textarea, ul {margin: 0;}
.wallpaper{
    background:no-repeat;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    max-height:80vh ;
    min-height:30vh ;
    height: 40vh;
}
#underWall{
    box-shadow:0 0 30px rgba(0,0,0,0.5);
}
ul, menu, dir {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
ol, ul,li {
    padding-left: 0;
    list-style-type: none;
}
.b_wide{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}
/* 导航栏 */
.header{
    background: white;
    width:100%;
    max-height: 20vh;
    zoom: 1;
    z-index: 5;
    border-bottom: #d9e1ec 1px solid;
}
@media (max-height: 300px){
    .header {
        font-size: 25px;
    }}
.header:after{
      display: block;
      content: '';
      clear:both;
      line-height: 0;
      visibility: hidden;
}
.header ul{
    float: right;
}
.header ul .header_list{
    display: inline-block;
    line-height: 60px;
    padding: 0 35px;
    font-size: 15px;
    font-weight: bold;
    color: #66757f;
    cursor: pointer;
}

.header_list{
    position: relative;
}
.header_list a{
    position: relative;
}
.header ul .header_list:hover{
    color: #3479d8; 
}
.header_list_active{
    color: #3479d8!important;
}
.list_underline{
    border-bottom: #3479d8 2px solid;
    display: none;
    position: absolute;
    top: 20px;
    width: 100%;
}
.b_block{
    display: block!important;
}
.b_none{
    display: none;
}
.b_fa{
    padding-right: 5px;
}
/* 下拉菜单 */
.b_personalsetting{
    display: inline-block;
    line-height: 60px;
    padding: 0 50px 0 5px;
    font-size: 15px;
    font-weight: bold;
    color: #66757f;
    cursor: pointer;
    position: relative;
}
.b_personalsetting:before{
    content: "";
    padding: 25px 10px 10px 0;
    vertical-align: middle;
    border-left: #bebfc0 solid 1px;
    display: inline-block;
}
.b_personalsetting:hover{
    color: #3479d8; 
}
.b_dropdown-menu {
    position: absolute;
    top: 90%;
    left: -30px;
    z-index: 10;
    min-width: 80px;
    /* display: none; */
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    background-clip: padding-box;
}
.b_dropdown-caret {
    position: absolute;
    top: -10px;
    right: 45%;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}
.b_caret-outer {
    border-bottom: 10px solid #657786;
    border-bottom-color: rgba(0,0,0,0.1);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;
    display: inline-block;
    margin-left: -1px;
    position: absolute; 
}
.b_caret-inner {
    top: 1px;
    left: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-bottom-color: #fff;
    display: inline-block;
    margin-left: -1px;
    position: absolute; 
}
.b_dropdown_list{
    float: none!important;
    margin: 0;
    list-style: none;
    padding: 0;
}
.b_dropdown-menu li {
    display: block;
    float: none;
    line-height: normal;
    position: relative;
}
.b_dropdown_name{
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
}
.b_dropdown_name b{
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;
    word-break: break-all;
}
.b_dropdown_name div{
    font-size: 14px;
}
.b_dropdown-divider{
    padding-top: 1px;
    margin: 2px 1px 2px;
    border-bottom: 1px solid #e6ecf0;
}
.b_dropdown-menu li>a{
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
    white-space: nowrap;
    margin: 0;
    font-weight: normal;
    float: none;
    clear: both;
    cursor: pointer;
    display: block;
}
.b_dropdown_name>a{
    padding:10px 0 0 0!important;
    text-align: center!important;
}
.b_dropdown-menu li>a:hover{
    color: #fff;
    background-color: #3479d8;
}
.b_dropdown-menu li>:hover .fa-dropdown-list{
    color: #fff!important;
}
.b_dropdown_name a:hover{
    background-color: #fff!important;
    color: #14171a!important;
    text-decoration: none;
}
/* 通讯录 */
.b_news_wipe{
    background-color: #ffffff;
    min-height: 650px;
    height: 100%;
    margin:0 20px 80px 0;
    backface-visibility: hidden;
    -webkit-transition: padding .3s linear;
}
.b_news_ul{
    background-color: #e6e6e6;
    width: 100%;
    float: left;
}
.b_news_ul li{
    box-sizing: border-box;
    width: 13%;
    font-weight:400;
    font-size: 16px;
    line-height: 1.5;
    padding: 1% 1%;
    float: left;
    text-align: center;
    cursor: pointer;
}
.b_nodeList_wipe{
    padding: 15px 10px 20px 10px ;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgb(214, 236, 236);
    clear: left;
    min-height: 600px;
}
.b_memberLists{
    height: 100%;
    width: 30%;
    margin:0 8px;
    border: #657786 solid 1px;
    float: left;
}
.b_memberHead{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 0;
    /* border-bottom: #657786 solid 1px; */
}
#b_RDClogo{
    cursor: pointer;
    float: left;
    line-height: 60px;
    font-size: 30px;
    color: #3479d8;
    font-weight: bold;
    user-select: none;
}














/* 头像样式 */
div#w_myHead{
	box-shadow:0 0 1px black;
	display:inline-block;
	position: absolute;;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	background-size:100% 100%;
	border:4px solid rgb(255, 255, 255);
    left: 10%;
    top: -120px;
    bottom:150px;
    z-index: 3;
}
div#w_myHeadName{
	position:absolute;
	text-align:center;
	bottom:-50px;
	font-size:1.3rem;
    font-weight:bold;
    white-space: nowrap;
	left:50%;
	transform:translateX(-50%);
}
div#b_myHead{
    display:inline-block;
	position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-size:100% 100%;
    top:10px;
    left: 10%;
    z-index: 3;
}
div#b_myName{
    display:inline-block;
	position: absolute;
    top:18px;
    letter-spacing: 0.75px;
    cursor: pointer;
    font-weight: 600;
    left: 14%;
    z-index: 3;
}